@media screen and ( max-width:600px ){

  .sec1 {
    background: linear-gradient(rgb(0, 255, 94), rgb(8, 134, 81));
    position: relative;
    font-family: "Nico Moji";
    color: rgb(58, 85, 60);
  }
  .sec2 {
    background-color: rgb(45, 57, 44);
    position: relative;

  }
  .sec3 {
    position: relative;
  }

  #myMenu {
    z-index: 7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0;
    margin-top: 40px;
    margin-left: 20px;
    list-style-type: none;
  }
  #myMenu li {
      border-right: 1px solid #4d4d4d;
      background-color: rgb(27, 228, 192);
      opacity: 0.8;
      margin-left: 7px;
      width: 30px;
  }
  #myMenu li a {
      display: block;
      padding: 10px 15px;
      font-size: 10px;
      text-align: center;
      text-decoration: none;
      color: #333;
  }
  #myMenu a:hover {
      background: #EEE;
  }
  #myMenu li.active a {
      background: #333;
      color: #EEE;
  }

  .sec1left {
    /* margin-left: 12.5vw; */
    z-index: 3;
    position: absolute;
    top: 320px;
    left: 70px;
    height: 100vh;
  }
  .sec1left h1 {
    text-align: left;
    font-size: 20px;
  }
  .sec1left ul {
    font-size: 14px;
    list-style-type: none;
    padding-left: 0;
    text-align: left;
  }
  .sec1left li{
    padding-left: 5px;
    margin: 5px 0;
  }
  .sec1right {
    /* margin-left: 12.5vw; */
    position: absolute;
    top: 320px;
    left: 15px;
    width: 100%;
  }
  .sec1right h1 {
    text-align: left;
    font-size: 20px;
  }
  .sec1right ul {
    font-size: 12px;
    list-style-type: none;
    padding-left: 0;
    text-align: left;
  }
  .sec1right li{
    margin: 5px 0;
  }
  .sec1content {
    font-family: "Nico Moji";
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 2;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(71, 38, 38);
  }
  .sec1content h3{
    text-shadow: none;
    font-size: 18px;
    margin-top: 0;
    padding: 0;
  }
  .sec1content a {
    text-decoration: none;
    color: rgb(76, 63, 236);
  }
  .sec1content h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .sec1content p {
    font-size: 20px;
  }


  .sec2back {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #jungle {
    opacity: 0.35;

    z-index: 0;
  }
  .sec2content {
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: -50vw;
    width: 100vw;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Sawarabi Gothic";
    text-shadow: 7px 7px 1.5px rgb(33, 33, 33);
  }
  .sec2content h1 {
    margin:100px 10px 10px 10px;
    font-size: 18px;

  }
  .sec2content h2 {
    font-size: 23px;
    margin-top: 0;
  }
  #railsicon {
    margin-left: 10px;
    width: 30px;
  }
  .rails {
    display: inline-block;
    margin-bottom: 0;
    color: rgb(199, 0, 0);
  }
  .docker {
    color: rgb(103, 173, 189);
  }
  .sec2content p {
    margin: 10px 15px;
    font-size: 13px;

  }
  .balloon4 {
      z-index: 3;
      position: absolute;
      background: #fff0c6;
      border-radius:50%;
      opacity: 0.8;
      width: 70%;
      padding: 5vh;
      bottom: 60px;
      left: 90%;
      top: auto;

  }
  .balloon4 p {
      letter-spacing: 0vw;;
      margin: 0;
      padding: 0;
      font-size: 10px;
      font-family: "Sawarabi Gothic";
      text-align: center;
  }
  .fab fa-docker{
    margin-left: 10vw;
  }

  .sec3content {
    text-align: center;
    position: absolute;
    top: 5vh;
    left: 0vw;
    font-family: "Sawarabi Gothic";
    height: 100vh;

  }
  .sec3content h1 {
    font-size: 2.2vw;
  }
  .sec3content p {
    font-size: 1.4vw;
  }
  .sec3content span {
    font-size: 1.7vw;
    font-weight: bold;
  }


  .profile_link {
    position: absolute;
    left: 10vw;
    top: 20vh;
  }
  .profile_link p{
    font-family: "Sawarabi Gothic";
    font-size: 1.5vw;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
    letter-spacing: 0.2vw;
  }
  .profile_link ul {
    list-style-type: none;
    margin-top: 4vh;
    border: 3px solid rgb(71, 71, 71);
    border-radius: 10%;
    padding: 1.4vh 4vh;
  }
  .profile_link li {
    font-family: 'Shrikhand', cursive;
    text-align: right;
    font-size: 2vw;
    margin-bottom: 1.5vh;
  }
  .profile_link a {
    text-decoration: none;
  }



  footer{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 1vh;
    font-size: 1.1vw;
  }

  #gorimain {
    width: 25%;
    background-color: white;
    padding: 0;
    border-radius: 50%;
  }
  #goreal {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 40vw;
    height: 30vh;
    opacity: 0.94;
  }
  #goriselfy {
    position: absolute;
    opacity: 0.5;
    width: 50vw;
    bottom: 0;
    z-index: -1;
  }





}
