





.main{
  text-align: center;
  height: auto;
  width: 100vw;
  font-family: "Nico Moji";
  background-image: url(../img/haikei.jpg);
  text-shadow: 2px 2px 2px rgb(71, 38, 38);
}
.maincontent{
  padding-bottom: 30px;
  border: solid rgba(82, 173, 94, 0.68) 5px;
  border-radius: 40%;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 30px #ccc,
    inset 0px 0px 30px rgba(0, 0, 0, 0.8);
}
.maincontent h1{
  margin-top: 0;
  padding-top: 10%;
  text-align: center;
  font-size: 80px;
  margin:0;
}
.main h3{
  text-shadow: none;
  font-size: 30px;  ;
  margin-top: 0;
  padding: 10px 0;
}
.main a {
  text-decoration: none;
  color: rgb(76, 63, 236);
}
.maincontent p{
  font-size: 50px;
}
#logo {
  margin: 0;
  width: 40%;

}


.sub{
  height: auto;
  width: 100%;
  background-image: url(../img/goripic.jpg);
  background-repeat: no-repeat;
}
.subcover {
  border-top: 10px ridge rgb(92, 92, 92);
  border-bottom: 10px ridge  rgb(92, 92, 92);
  width: 100%;
  height: auto;
  background: rgba(255,255,255,0.8);
  display: flex;
  flex-wrap: wrap;
}
.subcontent {
  width: calc(50% - 10px);
  font-family: "Nico Moji";
  text-align: center;
  padding-bottom: 30px;
}
.subcontent h1{
  font-size: 45px;
}
.subcontent ul{
  list-style-type: none;
}
.subcontent li {
  color: rgb(62, 62, 62);
  padding-left: 100px;
  margin-bottom: 3%;
  text-align: left;
  font-size: 38px;
}

.detail {
  height: auto;
  width: 100%;
  background-image: url(../img/jungle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.detailcover {
  height: auto;
  width: 100%;
  background: rgba(171, 171, 171, 0.8);

}
.detailcontent {
  color: white;
  padding: 0 20px;
  text-align: center;
  padding-bottom: 30px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.detailcontent h1{
  margin-top:0;
  padding-top:50px;
  font-size: 4vmin;
}
.detailcontent h2{
  font-size: 6vmin;
}
.detailcontent p{
  font-size: 3.5vmin;
}
.rails {
  color: rgb(195, 0, 0);
}
.docker {
  color: rgb(103, 173, 189);
}
.realgori {
}
.detailfooter{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding-bottom: 20px;
}
.dtfcontent{
  font-family: "Nico Moji";
  text-align: right;
}
.dtfcontent img{
  padding-left: 20px;
  width: 30vw;
  opacity: 0.8;
  border-radius: 36%;
}
.dtfcontent p {
  color: #4d4300;
  font-weight: bold;
  padding-left: 5vw;
  padding-top: 20px;
  text-align: left;
  font-size: 3.4vmin;
  padding-bottom: 10px;
}


.footer{
  height: 100%;;
  width: 100%;
  padding-bottom: 50px;
}
#footervisual {
  width: auto;
  height: auto;
  background-size: cover;
  text-align: center;
  font-family: "Sawarabi Gothic";
  position: relative;
}
.atogaki {
  padding-top: 5vh;
}
.atogaki h1{
  font-size: 50px;
}
.atogaki p{
  font-size: 2.8vmin;
}


.profile_link {
  padding-top: 50px;
  text-align: center;
}
.profile_link p{
  font-family: "Sawarabi Gothic";
  font-size: 3vmin;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  letter-spacing: 0.2vw;
}
.profile_link ul {
  width: 30%;
  list-style-type: none;
  border: 3px solid rgb(71, 71, 71);
  border-radius: 10%;
  padding: 20px 70px 20px 10px;;
  margin-top: 50px;
  margin-left: 30%;
}
.profile_link li {
  font-family: 'Shrikhand', cursive;
  text-align: right;
  font-size: 3vmin;
  padding: 5px;
}
.profile_link a {
  text-decoration: none;
  font-size: 4vmin;
}
