html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  overflow-y: scroll !important;
  color: #252525;
}
a,
img {
  border: 0;
}
a {
  color: #252525;
}
#mainvisual {
  width: 100%;
  max-width: 600px;
  min-height: 600px;
  max-height: 800px;
  margin: 0 auto;
  opacity: 0.4;
}



.main{
  text-align: center;
  height: 50vh;
  width: 100vw;
  font-family: "Sawarabi Gothic";
  background: linear-gradient(rgb(0, 255, 94), rgb(8, 134, 81));
}
.maincontent h1{
  margin-top: 0;
  padding-top: 10%;
  text-align: center;
  font-family: "Nico Moji";
  font-size: 80px;
}
.maincontent p{
  font-size: 50px;
}
#logo {
  width: 40%;
}
.sub{
  display: flex;
  flex-wrap: wrap;
}
.subcontent {
  width: calc(40% - 10px);
  margin: 5px;
  font-family: "Sawarabi Gothic";
  text-align: center;
  margin: 0 5%;
}
.subcontent h1{
  font-size: 40px;
}
.subcontent ul{
  list-style-type: none;
}
.subcontent li {
  margin-left: 10%;
  margin-bottom: 3%;
  text-align: left;
  font-size: 20px;
}
