

#mainvisual {
  width: 100%;
  max-width: 600px;
  min-height: 600px;
  max-height: 800px;
  margin: 0 auto;
  opacity: 0.4;
}




.main{
  text-align: center;
  height: auto;
  width: 100vw;
  font-family: "Nico Moji";
  background-image: url(../img/haikei.jpg);
  text-shadow: 2px 2px 2px rgb(71, 38, 38);
}
.maincontent{
  padding-bottom: 30px;
}
.maincontent h1{
  margin-top: 0;
  padding-top: 10%;
  text-align: center;
  font-size: 80px;
  margin:0;
}
.main h3{
  text-shadow: none;
  font-size: 30px;  ;
  margin-top: 0;
  padding: 10px 0;
}
.main a {
  text-decoration: none;
  color: rgb(76, 63, 236);
}
.maincontent p{
  font-size: 50px;
}
#logo {
  margin: 0;
  width: 40%;
}


.sub{
  height: auto;
  width: 100%;
  background-image: url(../img/goripic.jpg);
  background-repeat: no-repeat;
}
.subcover {
  border-top: 10px ridge rgb(92, 92, 92);
  border-bottom: 10px ridge  rgb(92, 92, 92);
  width: 100%;
  height: auto;
  background: rgba(255,255,255,0.8);
  display: flex;
  flex-wrap: wrap;
}
.subcontent {
  width: calc(50% - 10px);
  font-family: "Nico Moji";
  text-align: center;
  padding-bottom: 30px;
}
.subcontent h1{
  font-size: 45px;
}
.subcontent ul{
  list-style-type: none;
}
.subcontent li {
  color: rgb(62, 62, 62);
  padding-left: 100px;
  margin-bottom: 3%;
  text-align: left;
  font-size: 38px;
}

.detail {
  height: auto;
  width: 100%;
  background-image: url(../img/jungle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.detailcover {
  height: auto;
  width: 100%;
  background: rgba(171, 171, 171, 0.68);

}
.detailcontent {
  color: white;
  padding: 0 20px;
  text-align: center;
  padding-bottom: 30px;
  text-shadow: 4px 4px 1.5px rgb(33, 33, 33);
}
.detailcontent h1{
  margin-top:0;
  padding-top:50px;
  font-size: 4vmin;
}
.detailcontent h2{
  font-size: 5vmin;
}
.detailcontent p{
  font-size: 3vmin;
}
.rails {
  color: rgb(195, 0, 0);
}
.docker {
  color: rgb(103, 173, 189);
}
.realgori {
}
.detailfooter{
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
.dtfcontent{
  width: calc(50%);
  font-family: "Nico Moji";
  text-align: center;
}
